.container {
    background-color: #DADADA;
    height: 300px;
    max-width: 800px;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
}

.container h2 {
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

.container h3 {
    font-size: 1.4rem;
    font-weight: bold;
}

.headers, .item {
    display: grid;
    align-items: center;
    grid-template-columns: 2.5fr 1.5fr 1.5fr;
    justify-content: space-between;
    padding: 10px;
    column-gap: 20px;
}

.headers {
    background-color: #d0d0d0;
    border-radius: 10px;
}

.item p{
  font-size: 1.3rem;
}

/* Phones */
 @media (max-width: 51em) {
    .container {
        height: 270px;
    }
}
/* 
@media (max-width: 45em) {
    .container {
        width: 450px;
    }
}

@media (max-width: 35em) {
    .container {
        width: 350px;
    }
}  */

@media (max-width: 28em) {
    /* .container {
        width: 270px;
        height: 260px;
    } */

    .headers, .item {
        grid-template-columns: 2.5fr 2fr 1.5fr;
        column-gap: 10px;
    }
}